.wrapper {
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
}

.root {
  padding-inline: 1rem;
  flex-grow: 1;
}

.navbar {
  background-color: #e2e2e2;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-size: larger;
}

.navbar img {
  height: 4ex;
  margin-block: .5rem;
  margin-inline: 1rem;
  display: block;
}

.navbar a {
  display: block;
}

.navbar a.active {
  font-weight: bold;
}

.footer {
  border-block-start: 1px solid var(--muted);
  margin-block-start: .5rem;
  padding-block: .5rem;
  text-align: center;
}
